


.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
	color: #fff;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.tvshow-logo-wraper {
	padding: 340px 0 0px;
}
/* Fourth section */
.fourth-heghlight-wrapper .left-side-wrapper .left-side-container{
	background-image:  url("../../assets/images/home/iphone11-colored.jpg");
	background-color: #000;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;		
}
.fourth-heghlight-wrapper .right-side-wrapper .right-side-container{
	background-image:  url("../../assets/images/home/apple-blue-logo.jpg"); 
	background-color: #165ca9;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;	
}
.links-wrapper.white li a {
	color: #fff;
}
.fourth-heghlight-wrapper .right-side-wrapper .title-wraper {
    max-width: 380px;
}


@media (min-width: 768px) {
	/*fourth section*/
	.fourth-heghlight-wrapper .left-side-wrapper .left-side-container {
	    margin: 10px 5px 5px 10px;
	}
	.fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
	    margin: 10px 10px 5px 5px;
	}		
	.title-wraper.bold {
	  font-size: 56px;
	}
	
	
}
