
/* Header Style */
.nav-wrapper {
  background: rgba(0,0,0,0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
	color: #fff;
}
.navbar-toggler {
	color: #fff;
}
.nav-item {
	text-align: left !important;
	padding: 4px 0;
	border-bottom: 1px solid #4b4b4b;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: .7em;
}
.footer-wrapper ul {
	list-style: none;
	padding-bottom: 10px;
	padding-inline-start: 0px;
}
.footer-wrapper ul a {
	color: #515154;
}
.my-apple-wrapper {
	padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
	margin-top: 15px;
}
.footer-country {
	margin-top: 8px;
}
.flag-wrapper {
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
}
.footer-country-name{
	display: inline-block;
	vertical-align: middle;
}
.footer-links-terms ul {
	display: flex;
}
.footer-links-terms ul li {
	padding: 0 10px;
	border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
	padding-left: 0;
}
.footer-links-terms ul li:last-child {
	border-right: 0;
}

.footer-links-wrapper h3 {
	font-size: 12px;
	font-weight: 600;
	color: #1d1d1f;
}
.footer-wrapper ul li{
	padding: 4px 0;
}
.upper-text-container {
	border-bottom: 1px solid #d2d2d7;
	padding: 17px 0 10px;
	margin-bottom: 20px;
}
.upper-text-container a {
	color: #515154;
}
/*Sixth Section*/
.sixth-heghlight-wrapper .left-side-wrapper .left-side-container{
	/* background-image:  url("../images/home/spyder.jpg");  */
	background-image:  url("../../assets/images/home/spyder.jpg");
	background-color: #000;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;		
}
.sixth-heghlight-wrapper .right-side-wrapper .right-side-container{
	/* background-image:  url("../images/home/apple-card-monthly.jpg");  */
	background-image:  url("../../assets/images/home/apple-card-monthly.jpg");
	background-color: #fbfbfd;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;	
}

.left-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}

.right-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
.sixth-heghlight-wrapper .links-wrapper {
	max-width: 300px;
	margin: 0 auto;
}
.links-wrapper ul {
	list-style: none;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.sixth-heghlight-wrapper .description-wraper {
	max-width: 250px;
	margin: 7px auto;
}
.description-wraper.white{
	color: white;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
	font-size: 21px;
}
.links-wrapper ul li a:hover {
	color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.title-wraper {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
}
.title-wraper.bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
}
.right-side-wrapper .title-wraper {
	max-width: 280px;
	margin: 0 auto;
} 
.description-wrapper {
	font-size: 26px;
	padding: 10px 0;
}

@media (min-width: 768px) {
	
	/*Sixth section*/
	.sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
	    margin: 5px 5px 10px 10px;
	}
	.sixth-heghlight-wrapper .right-side-wrapper .right-side-container {
	    margin: 5px 10px 10px 5px;
	}	
	.sixth-heghlight-wrapper .links-wrapper {
	    max-width: 500px;
	}	
	
}
.logo-wrapper img{
width: 100px;
}