

/* Alert section */
.alert-section {
	text-align: center;
	padding: 20px;
}
.alert-title {
	font-weight: 600;
	color: #1d1d1f;
	padding: 10px;
}
.alert-text {
	max-width: 90%;
	margin: 0 auto;
}

@media (min-width: 768px) {	
	.title-wraper.bold {
	  font-size: 56px;
	}
	.new-alert {
		color: #BF4801;
		font-size: 18px;
	}	
	/*Alert section*/
	.alert-text {
		max-width: 85%;
		margin: 0 auto;
	}	
}
